@{
    Page.Home = "True";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    @RenderPage("../layouts/_jQueryMobile.cshtml")
    <title>Happy團購揪團系統</title>
</head>
<div id="home" data-role="page" style="background:url(../images/image/background.png); background-size:100% 100%;">
    <div data-role="header" data-position="fixed" style="margin: 0px; padding: 0px;">
        <h3>Happy團購揪團系統</h3>
    </div>
    <div data-role="content" style="margin: 0px; padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#" rel="external"><img src="~/images/app/user256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#" rel="external"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#" rel="external"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#" rel="external"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#" rel="external"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#" rel="external"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div text-align: center;" class="thumbnail">
                        <a href="#"><img src="~/images/app/forum256.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" style="margin: 0px; padding: 0px;">
        @RenderPage("../layouts/_footer.cshtml")
    </div>
</div>
